smtpd_banner = $myhostname ESMTP
biff = no
append_dot_mydomain = no
readme_directory = no
compatibility_level = 3.6

smtp_tls_security_level = encrypt
smtpd_tls_security_level = may
smtpd_tls_auth_only = no

myhostname = mail.routerssh.web.id
mydomain = routerssh.web.id
myorigin = $mydomain
mydestination = $myhostname, localhost.$mydomain, localhost, $mydomain, tempmail.routerssh.web.id
relayhost = [smtp-relay.brevo.com]:587
mynetworks = 127.0.0.0/8 [::ffff:127.0.0.0]/104 [::1]/128

smtp_sasl_auth_enable = yes
smtp_sasl_security_options = noanonymous
smtp_sasl_password_maps = hash:/etc/postfix/sasl_passwd
smtp_tls_CAfile = /etc/ssl/certs/ca-certificates.crt

mailbox_size_limit = 0
recipient_delimiter = +
inet_interfaces = all
inet_protocols = all

transport_maps = hash:/etc/postfix/transport
